.body {
    position: relative;

    .questions-list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 10%;

        .table {
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);

            .questions-head {}

            .questions-body {
                .question-item {
                    .actions {
                        a {
                            // margin: 0 10px;
                        }
                    }
                }
            }
        }
    }

    .question-edit-modal {
        display: none;
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .add-question-card {
            position: relative;

            .btn-close {
                position: absolute;
                top: -20px;
                right: 0px;
            }
        }


        &.show {
            display: flex;
            opacity: 1;
        }
    }
}