$base-color1: #8281d8;
$base-color2: #80c6f6;
$base-background-image-color-vertical: linear-gradient(180deg,
    $base-color1 0%,
    $base-color2 99%);
$base-background-image-color-horizontal: linear-gradient(90deg,
    $base-color1 0%,
    $base-color2 99%);

.body {
  position: relative;

  .questions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;

    .container-fluid {
      background-color: white;
      max-height: 80%;
      width: 80%;
      overflow-y: auto;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);

      .table {
        .questions-body {
          .question-item {
            .actions {
              .view {
                color: $base-color1;
              }

              .edit {
                color: $base-color2;
              }
            }
          }
        }
      }
    }
  }

  .question-edit-modal {
    display: none;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #00000030;

    .question-body {
      width: 100%;

      .add-question-card {
        background-color: white;
        position: relative;

        .btn-close {
          position: absolute;
          top: -20px;
          right: 0px;
        }
      }
    }

    &.show {
      display: flex;
      opacity: 1;
    }
  }
}