<div class="profile-wrapper">
    <div class="profile-mask">
        <img src="/public/src/img/logo-isimsiz.png" alt="">
    </div>
</div>

<div class=" item-list overflow-auto">
    <div class="list-item ">
        <a href="#">
            <i class="bi bi-person-fill"></i>
            Profil</a>
    </div>

    <div class="list-item">
        <a href="/public/pages/joinQuizPage/joinQuiz.html">
            <i class="bi bi-pencil-fill"></i>
            Sınava Gir</a>

    </div>
    <div class="list-item">
        <a href="#">
            <i class="bi bi-award-fill"></i>
            Sınavlar Sonuçları</a>

    </div>
    <div class="admin-list">
        <div class="list-item">
            <a href="/public/pages/addUserPage/addUser.html">
                <i class="bi bi-people-fill"></i>
                Kullanıcı Ekle</a>
        </div>
        <div class="list-item">
            <a href="/public/pages/usersPage/users.html">
                <i class="bi bi-people-fill"></i>
                Kullanıcılar</a>
        </div>
        <div class="list-item">
            <a href="/public/pages/addQuestionPage/addQuestion.html">
                <i class="bi bi-pencil-square"></i>
                Soru Hazırla</a>

        </div>
        <div class="list-item">
            <a href="/public/pages/questionsPage/questions.html">
                <i class="bi bi-card-list"></i>
                Sorular</a>

        </div>
    </div>
</div>