::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 100px;
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: content-box;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
.body {
  position: relative;
  &::before {
    background: url("/public/src/img/logo-hd.png") center center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
}
nav {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);

  position: fixed;
  height: 100%;

  .profile-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #af53a4;
    .profile-mask {
      width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;

        transition: 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .profile-text {
      width: calc(100% - 64px);
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 10px;
      .name {
        color: #0a0a0a91;
        font-weight: 800;
        width: 100%;
      }
      .online {
        color: #00ff00a6;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .item-list {
    height: calc(100% - 120px);

    .list-item {
      a {
        text-decoration: none;
        height: auto;
        padding: 5%;
        transition: 0.5s ease;
        display: inline-block;
        width: 100%;
        color: #fff;
      }

      a:hover,
      &.active a {
        color: #404041;
        background-color: #fff;
      }
    }
    .logOut {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }

  &.permission-1 {
    .item-list {
      .admin-list {
        display: none;
      }
    }
  }
  &.permission-3 {
    .item-list {
      .teacher-list {
        display: none;
      }
    }
  }
}

.body {
  height: 100vh;
  margin-left: auto;
}
