body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8281d8), color-stop(99%, #80c6f6));
  background-image: linear-gradient(180deg, #8281d8 0%, #80c6f6 99%);
  padding: 0px 10%;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  position: relative;
}

.main-container .header {
  margin-bottom: 20px;
}

.main-container .header .timer {
  font-size: 16px;
  color: white;
  background-color: gray;
  padding: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
}

.main-container .footer .quiz-result {
  width: 50%;
  margin: 0 auto;
}

.main-container .footer .quiz-result .table {
  margin: 0;
}

.main-container .footer .quiz-result .table .head {
  background-color: #000000b8;
  color: white;
}

.main-container .footer .quiz-result .table .head tr th {
  border: none;
}

.main-container .footer .quiz-result .table .body {
  border: none;
  color: white;
}

.main-container .footer .quiz-result .table .body tr {
  border: none;
}

.main-container .footer .quiz-result .table .body tr td {
  border: none;
}

.main-container .footer .quiz-result .table .body .correct {
  background-color: #008000a6;
}

.main-container .footer .quiz-result .table .body .uncorrect {
  background-color: red;
}

.main-container .footer .quiz-result .table .body .null {
  color: black;
  background-color: #0e8ccc4a;
}

.main-container .footer .quiz-result .table .body .date {
  color: black;
}

.main-container .quiz-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.main-container .quiz-container .question-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

.main-container .quiz-container .question-item .question-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  font-size: 16px;
  background-color: #0e8ccc4a;
  border-top-left-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .quiz-container .question-item .question-subject {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  border-radius: 0 0 0 20px;
  background-color: rgba(200, 200, 200, 0.2);
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.main-container .quiz-container .question-item .question-head {
  padding: 44px 10px 24px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100px;
}

.main-container .quiz-container .question-item .question-head .question-img {
  width: 100%;
}

.main-container .quiz-container .question-item .question-head .question-img img {
  max-width: 100%;
  max-height: 300px;
}

.main-container .quiz-container .question-item .question-head .question-text-area {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-align: left;
}

.main-container .quiz-container .question-item .question-head .question-text-area .question-text {
  white-space: pre-line;
}

.main-container .quiz-container .question-item .question-stylish {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #00000026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .quiz-container .question-item .question-stylish .btn {
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
  text-align: left;
}

.main-container .quiz-container .question-item .question-stylish .btn:first-child {
  margin-top: 0;
}

.main-container .quiz-container .question-item .question-stylish .btn.active {
  background-color: #0e8ccc4a;
}

.main-container .quiz-container .question-item .question-stylish .btn.active.rightAnswer {
  background-color: #008000a6;
}

.main-container .quiz-container .question-item .question-stylish .btn.rightAnswer {
  background-color: #008000a6;
}

.main-container .quiz-container .question-item .question-stylish .btn.false {
  background-color: #ff0000a1;
}

.main-container .quiz-container .question-item .question-stylish .btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 255, 0.1);
          box-shadow: 0 0 0 0.25rem rgba(0, 0, 255, 0.1);
}

.main-container .quiz-container .question-item .question-stylish.null .rightAnswer {
  background-color: #0e8ccc4a;
}
/*# sourceMappingURL=quiz.css.map */