html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo {
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.forgetPassword {
  &.setPasswordModal {
    animation: none !important;
  }

  &.show {
    display: flex;
    opacity: 1;
    animation: opacity 0.3s;

    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  position: absolute;
  top:0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .forgetPasswordContainer {
    padding: 60px 30px;
    background: white;
    position: relative;
    border-radius: 2%;

    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

  }
}