body {
  background-color: white;
}

.question-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-body .add-question-card {
  background-color: white;
  width: 80%;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.question-body .add-question-card .question-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-body .add-question-card .question-head .question-img {
  width: 30%;
  background-size: cover;
  background-position: center;
}

.question-body .add-question-card .question-head .question-img .image-picker {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 64px;
  background-color: rgba(200, 200, 200, 0.4);
}

.question-body .add-question-card .question-head .question-img .image-picker label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-size: 84px;
}

.question-body .add-question-card .question-head .question-img .image-picker input {
  display: none;
}

.question-body .add-question-card .question-head .question-img .image-picker i {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.question-body .add-question-card .question-head .question-img .image-picker:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.question-body .add-question-card .question-head .question-text-area {
  width: 70%;
  padding-left: 10px;
}

.question-body .add-question-card .question-head .question-text-area .question-text {
  width: 100%;
}

.question-body .add-question-card .question-head .question-text-area .question-text .text-area {
  font-size: 24px;
  border: none;
}

.question-body .add-question-card .question-head .question-text-area .question-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
}

.question-body .add-question-card .question-head .question-text-area .question-subject .form-control {
  float: left;
  cursor: pointer;
  margin: 0 10px;
}

.question-body .add-question-card .question-stylish .stylish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px 0;
  border-radius: 50px 0 0 50px;
}

.question-body .add-question-card .question-stylish .stylish label {
  padding: 0 10px;
}

.question-body .add-question-card .question-stylish .stylish.active {
  background-color: green;
}

.question-body .add-question-card .question-stylish .stylish.active input {
  border-color: green;
  -webkit-box-shadow: 0 0 0 0.25rem green;
          box-shadow: 0 0 0 0.25rem green;
}

.question-body .add-question-card .submit-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question-body .add-question-card .submit-button .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#8281d8), color-stop(99%, #80c6f6));
  background-image: linear-gradient(90deg, #8281d8 0%, #80c6f6 99%);
  border: none;
  width: 25%;
  max-width: 250px;
}

.question-body .add-question-card .submit-button .btn.btn-danger {
  background-image: none;
  width: auto;
}

.question-body .add-question-card .form-group.row {
  margin-bottom: 30px;
}

.question-body .add-question-card .add-button {
  text-align: right;
}

.question-body .add-question-card .add-button button {
  max-width: 150px;
  width: 25%;
}
/*# sourceMappingURL=addQuestion.css.map */